In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

In [5]:
# Ten year model 2022 to 2032
# Revenue (year 2022) = 222
# Revenue Groth Factor 18%
# EBITDA Marging = 45% Current Revenue
# Taxes = 21% current EBITDA
# Capital Expenditure = 3% Current Revenue
# Working Capital Increase 6% Revenue
# EDBITA Exit Multiple: 32.70
# Discount Factor(WACC): 0.94 (6%).

In [143]:
initial_revenue = 222
growth_factor = 0.18
ebitda_margin = 0.45
taxes = 0.21
capital_expenditures = 0.03
working_capital_increase = 0.06
ebitda_exit_multiple = 32.70
discount_factor_rate = 0.06

In [144]:
df = pd.DataFrame(data={"Revenue": growth_factor,
                        "EBITDA": 0,
                        "Taxes": 0,
                        "Capital Expenditure": 0,
                        "Working Capital": 0,
                        "Cash Flow": 0,
                        "Discount Factor": 1 - discount_factor_rate,
                        "Present Value Free Cash Flow": 0,
                        },
                  index=pd.date_range(start="2022",
                                      end="2033",
                                      freq="Y",
                                      name="Date")
                  )
df.head()

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
Date,,,,,,,,
2022-12-31,0.18,0,0,0,0,0,0.94,0
2023-12-31,0.18,0,0,0,0,0,0.94,0
2024-12-31,0.18,0,0,0,0,0,0.94,0
2025-12-31,0.18,0,0,0,0,0,0.94,0
2026-12-31,0.18,0,0,0,0,0,0.94,0

In [145]:
df["Revenue"] =  (1 + df["Revenue"]).cumprod() * initial_revenue

df["EBITDA"] = df["Revenue"] * ebitda_margin

df["Taxes"] = -df["EBITDA"] * taxes

df["Capital Expenditure"] = -df["Revenue"] * capital_expenditures

df["Working Capital"] = -df["Revenue"] * working_capital_increase

df["Cash Flow"] = df["EBITDA"] + df["Taxes"] + df["Capital Expenditure"] + df["Working Capital"]

df["Discount Factor"] = df["Discount Factor"].cumprod()

df["Present Value Free Cash Flow"] = df["Cash Flow"] * (df["Discount Factor"])

In [146]:
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
Date,,,,,,,,
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-15.717600,69.550380,0.940000,65.377357
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-18.546768,82.069448,0.883600,72.516565
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.830584,80.435373
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-25.824520,114.273500,0.780749,89.218916
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-30.472933,134.842730,0.733904,98.961622
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-35.958061,159.114421,0.689870,109.768231
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.648478,121.754922
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.550920,0.609569,135.050559
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.572995,149.798080
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.714690,308.487501,0.538615,166.156031
2032-12-31,1371.055562,616.975003,-129.564751,-41.131667,-82.263334,364.015252,0.506298,184.300269

In [153]:
present_value_of_projected_fcf = df["Present Value Free Cash Flow"].drop(index="2032-12-31").sum()
present_value_of_projected_fcf

1089.0376566730893

In [151]:
terminal_value = (df.loc["2032", "EBITDA"] * ebitda_exit_multiple).values[0]
terminal_value

20175.082590019258

In [155]:
present_value_of_terminal_value = terminal_value * df.loc["2031" ,"Discount Factor"].values[0]
present_value_of_terminal_value

10866.60441109724

In [156]:
present_assets_value = present_value_of_projected_fcf + present_value_of_terminal_value
present_assets_value

11955.642067770328

In [160]:

steatment = f"""

Our projected Present Value of Projected Future Cash Flows are: {present_value_of_projected_fcf:.3f}

With an estimated EBITDA around: {terminal_value:.3f}

The terminal value a this time given a multiple of {ebitda_exit_multiple:.3f}

and the above EBITDA for 2030, would equal: {present_value_of_terminal_value:.3f}."

"""

print(steatment)

Our projected Present Value of Projected Future Cash Flows are: 1089.038

With an estimated EBITDA around: 20175.083

The terminal value a this time given a multiple of 32.700

and the above EBITDA for 2030, would equal: 10866.604."