In [2]:
import pandas as pd

In [8]:
# Ten year model 2022 to 2032
# Revenue (year 2022) = 222
# Revenue Groth Factor 18%
# EBITDA Marging = 45% Current Revenue
# Taxes = 21% current EBITDA
# Capital Expenditure = 3% Current Revenue
# Working Capital Increase 6% Revenue
# EDBITA Exit Multiple: 32.70
# Discount Factor(WACC): 0.94 (6%).

In [17]:
initial_revenue = 100
growth_factor = 0.12
ebitda_margin = 0.50
taxes = 0.40
capital_expenditures = 0.02
working_capital_increase = 0.02
ebitda_exit_multiple = 10
discount_factor_rate = 0.10

In [18]:
df = pd.DataFrame(data={"Revenue": growth_factor,
                        "EBITDA": 0,
                        "Taxes": 0,
                        "Capital Expenditure": 0,
                        "Working Capital": 0,
                        "Cash Flow": 0,
                        "Discount Factor": (1 + discount_factor_rate) ** -1,
                        "Present Value of Free Cash Flow": 0,
                        },
                  index=pd.date_range(start="2020",
                                      end="2031",
                                      freq="Y",
                                      name="Date")
                  )
df.head()

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value of Free Cash Flow
Date,,,,,,,,
2020-12-31,0.12,0,0,0,0,0,0.909091,0
2021-12-31,0.12,0,0,0,0,0,0.909091,0
2022-12-31,0.12,0,0,0,0,0,0.909091,0
2023-12-31,0.12,0,0,0,0,0,0.909091,0
2024-12-31,0.12,0,0,0,0,0,0.909091,0

In [19]:
df["Revenue"] = (1 + df["Revenue"]).cumprod() * initial_revenue

df["EBITDA"] = df["Revenue"] * ebitda_margin

df["Taxes"] = -df["EBITDA"] * taxes

df["Capital Expenditure"] = -df["Revenue"] * capital_expenditures

df["Working Capital"] = -df["Revenue"] * working_capital_increase

df["Cash Flow"] = df["EBITDA"] + df["Taxes"] + df["Capital Expenditure"] + df["Working Capital"]

df["Discount Factor"] =  df["Discount Factor"].cumprod()

df["Present Value of Free Cash Flow"] = df["Cash Flow"] * df["Discount Factor"]

In [28]:
(1+.1) ** -9

0.4240976183724846

In [29]:
(0.94 **-1)

1.0638297872340425

In [ ]:
# (1 + DFR) ** (-N)

In [20]:
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value of Free Cash Flow
Date,,,,,,,,
2020-12-31,112.000000,56.000000,-22.400000,-2.240000,-2.240000,29.120000,0.909091,26.472727
2021-12-31,125.440000,62.720000,-25.088000,-2.508800,-2.508800,32.614400,0.826446,26.954050
2022-12-31,140.492800,70.246400,-28.098560,-2.809856,-2.809856,36.528128,0.751315,27.444123
2023-12-31,157.351936,78.675968,-31.470387,-3.147039,-3.147039,40.911503,0.683013,27.943107
2024-12-31,176.234168,88.117084,-35.246834,-3.524683,-3.524683,45.820884,0.620921,28.451164
2025-12-31,197.382269,98.691134,-39.476454,-3.947645,-3.947645,51.319390,0.564474,28.968458
2026-12-31,221.068141,110.534070,-44.213628,-4.421363,-4.421363,57.477717,0.513158,29.495157
2027-12-31,247.596318,123.798159,-49.519264,-4.951926,-4.951926,64.375043,0.466507,30.031432
2028-12-31,277.307876,138.653938,-55.461575,-5.546158,-5.546158,72.100048,0.424098,30.577459
2029-12-31,310.584821,155.292410,-62.116964,-6.211696,-6.211696,80.752053,0.385543,31.133412
2030-12-31,347.854999,173.927500,-69.571000,-6.957100,-6.957100,90.442300,0.350494,31.699474

In [22]:
present_value_of_projected_fcf = df["Present Value of Free Cash Flow"].drop(index="2030-12-31").sum()
present_value_of_projected_fcf

287.471088943357

In [23]:
terminal_value = (df.loc["2030", "EBITDA"] * ebitda_exit_multiple).values[0]
terminal_value

1739.274996672759

In [24]:
present_value_of_terminal_value = terminal_value * df.loc["2029" ,"Discount Factor"].values[0]
present_value_of_terminal_value

670.5658034397533

In [25]:
present_assets_value = present_value_of_projected_fcf + present_value_of_terminal_value
present_assets_value

958.0368923831103

In [12]:
message = """

Our Projected Present Value of Projected Future Cash Flows are: {0}.

We are providing revenue guidance in 2032 to be: {1}.

With an estimated EBITDA around: {2}.

The terminal value a this time given a multiple of {3}

and the above EBITDA for 2030, would equal: {4}.
""".format(present_value_of_projected_fcf,
           df.loc["2032", "Revenue"][0],
           df.loc["2032", "EBITDA"][0],
           32.70,
           terminal_value
           )
print(message)

Our Projected Present Value of Projected Future Cash Flows are: 1114.2819602033007.

We are providing revenue guidance in 2032 to be: 1371.0555616730721.

With an estimated EBITDA around: 616.9750027528825.

The terminal value a this time given a multiple of 32.7

and the above EBITDA for 2030, would equal: 20175.082590019258.