In [4]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import plotly.graph_objects as go
from sklearn.linear_model import LinearRegression

In [5]:
# beta = cov/var
# beta measure sock volatility with realtion with overall market
# Usually SPC500 beat as = 1.0
# beta > 1 => more volatile, higher return
# beta < 1 => lower volatile, less return

In [10]:
tickers = ["AAPL", "TWTR", "IBM", "MSFT", "^GSPC"]
stocks_price = pdr.get_data_yahoo(tickers, "2015-12-01", "2021-01-01", interval="m")["Adj Close"]
stocks_price.head()

Symbols          AAPL       TWTR         IBM       MSFT        ^GSPC
Date
2015-12-01  24.266083  23.139999  106.805664  50.298275  2043.939941
2016-01-01  22.440247  16.799999   96.848427  49.944702  1940.239990
2016-02-01  22.290396  18.120001  101.691254  46.127899  1932.229980
2016-03-01  25.262314  16.549999  118.739616  50.431129  2059.739990
2016-04-01  21.727585  14.620000  114.419647  45.536850  2065.300049

In [11]:
log_returns = np.log(stocks_price / stocks_price.shift())
log_returns

Symbols         AAPL      TWTR       IBM      MSFT     ^GSPC
Date
2015-12-01       NaN       NaN       NaN       NaN       NaN
2016-01-01 -0.078224 -0.320184 -0.097864 -0.007054 -0.052068
2016-02-01 -0.006700  0.075638  0.048794 -0.079498 -0.004137
2016-03-01  0.125158 -0.090630  0.154992  0.089191  0.063905
2016-04-01 -0.150731 -0.123996 -0.037060 -0.102087  0.002696
...              ...       ...       ...       ...       ...
2020-09-01 -0.106370  0.092214 -0.000381 -0.067361 -0.040018
2020-10-01 -0.061888 -0.073175 -0.085854 -0.038086 -0.028056
2020-11-01  0.089481  0.117353  0.100944  0.055711  0.102146
2020-12-01  0.110196  0.152091  0.033322  0.040879  0.036449
2021-01-01 -0.005517 -0.069191 -0.055282  0.041997 -0.011199

[62 rows x 5 columns]

In [12]:
log_returns.cov()

Symbols      AAPL      TWTR       IBM      MSFT     ^GSPC
Symbols
AAPL     0.007254  0.003730  0.002453  0.002920  0.002413
TWTR     0.003730  0.019788  0.001910  0.000739  0.001795
IBM      0.002453  0.001910  0.005315  0.001904  0.002403
MSFT     0.002920  0.000739  0.001904  0.002638  0.001534
^GSPC    0.002413  0.001795  0.002403  0.001534  0.001924

In [13]:
log_returns.var()

Symbols
AAPL     0.007254
TWTR     0.019788
IBM      0.005315
MSFT     0.002638
^GSPC    0.001924
dtype: float64

In [15]:
 cov = log_returns.cov().loc[:, "^GSPC"]
 cov

Symbols
AAPL     0.002413
TWTR     0.001795
IBM      0.002403
MSFT     0.001534
^GSPC    0.001924
Name: ^GSPC, dtype: float64

In [16]:
var = log_returns["^GSPC"].var()
var

0.0019235693497498328

In [17]:
beta = cov / var
beta

Symbols
AAPL     1.254558
TWTR     0.933242
IBM      1.249102
MSFT     0.797269
^GSPC    1.000000
Name: ^GSPC, dtype: float64

In [18]:
X = log_returns["^GSPC"].dropna().values.reshape(-1, 1)
y = log_returns["AAPL"].dropna().values

In [19]:
ling_reg = LinearRegression()
ling_reg.fit(X, y)
ling_reg.coef_

array([1.25455792])