In [2]:
from datetime import datetime
import numpy as np
import pandas as pd
import pandas_datareader as pdr

In [4]:
tickers = ["AAPL", "MSFT", "TWTR", "IBM", "^GSPC"]
start = datetime(2015, 12, 1)
end = datetime(2021, 1, 1)

stocks = pdr.get_data_yahoo(tickers, start, end, interval="m")
stocks.head()

Attributes  Adj Close                                                 \
Symbols          AAPL       MSFT       TWTR         IBM        ^GSPC
Date
2015-12-01  24.266079  50.298267  23.139999  106.805649  2043.939941
2016-01-01  22.440247  49.944706  16.799999   96.848427  1940.239990
2016-02-01  22.290401  46.127903  18.120001  101.691231  1932.229980
2016-03-01  25.262314  50.431126  16.549999  118.739594  2059.739990
2016-04-01  21.727587  45.536850  14.620000  114.419655  2065.300049

Attributes      Close                                                 ...  \
Symbols          AAPL       MSFT       TWTR         IBM        ^GSPC  ...
Date                                                                  ...
2015-12-01  26.315001  55.480000  23.139999  137.619995  2043.939941  ...
2016-01-01  24.334999  55.090000  16.799999  124.790001  1940.239990  ...
2016-02-01  24.172501  50.880001  18.120001  131.029999  1932.229980  ...
2016-03-01  27.247499  55.230000  16.549999  151.449997  2059.739990  ...
2016-04-01  23.434999  49.869999  14.620000  145.940002  2065.300049  ...

Attributes     Open                                                 \
Symbols        AAPL       MSFT       TWTR         IBM        ^GSPC
Date
2015-12-01  29.6875  54.410000  25.389999  139.580002  2082.929932
2016-01-01  25.6525  54.320000  22.639999  135.600006  2038.199951
2016-02-01  24.1175  54.880001  17.889999  124.400002  1936.939941
2016-03-01  24.4125  50.970001  18.469999  132.240005  1937.089966
2016-04-01  27.1950  55.049999  16.410000  150.509995  2056.620117

Attributes        Volume
Symbols             AAPL         MSFT         TWTR          IBM         ^GSPC
Date
2015-12-01  3.687661e+09  792820900.0  397555900.0   97680800.0  8.364926e+10
2016-01-01  5.087392e+09  927914700.0  464361100.0  126233100.0  9.240977e+10
2016-02-01  3.243450e+09  814770900.0  551104700.0  106715800.0  9.304956e+10
2016-03-01  2.984198e+09  641110900.0  426043500.0  105746700.0  9.263942e+10
2016-04-01  3.489535e+09  699025700.0  549092500.0   94482500.0  8.112499e+10

[5 rows x 30 columns]

In [22]:
log_returns = np.log(stocks["Adj Close"]/stocks["Adj Close"].shift())
log_returns

Symbols         AAPL      MSFT      TWTR       IBM     ^GSPC
Date
2015-12-01       NaN       NaN       NaN       NaN       NaN
2016-01-01 -0.078223 -0.007054 -0.320184 -0.097864 -0.052068
2016-02-01 -0.006700 -0.079498  0.075638  0.048794 -0.004137
2016-03-01  0.125158  0.089191 -0.090630  0.154992  0.063905
2016-04-01 -0.150731 -0.102087 -0.123996 -0.037060  0.002696
...              ...       ...       ...       ...       ...
2020-09-01 -0.106370 -0.067361  0.092214 -0.000381 -0.040018
2020-10-01 -0.061888 -0.038086 -0.073175 -0.085854 -0.028056
2020-11-01  0.089481  0.055711  0.117353  0.100944  0.102146
2020-12-01  0.110196  0.040879  0.152091  0.033322  0.036449
2021-01-01 -0.005517  0.041997 -0.069191 -0.055282 -0.011199

[62 rows x 5 columns]

In [23]:
cov = log_returns.cov()
var = log_returns["^GSPC"].var()

In [24]:
beta = cov.loc["AAPL", "^GSPC"] / var

In [25]:
beta

1.254557314200322

In [26]:
risk_free_return = 0.0138
market_return = 0.105
expected_return = risk_free_return + beta * (market_return - risk_free_return)

In [27]:
expected_return

0.12821562705506936

In [28]:
beta * market_return

0.1317285179910338

In [30]:
beta = cov.loc["^GSPC"] / var
beta

Symbols
AAPL     1.254557
MSFT     0.797269
TWTR     0.933242
IBM      1.249102
^GSPC    1.000000
Name: ^GSPC, dtype: float64

In [32]:
market_return = risk_free_return + beta * (market_return - risk_free_return)
market_return

Symbols
AAPL     0.128216
MSFT     0.086511
TWTR     0.098912
IBM      0.127718
^GSPC    0.105000
Name: ^GSPC, dtype: float64

In [35]:
# Example
apple_stocks = pdr.get_data_yahoo(["AAPL"], start, end, interval="m")
apple_stocks

Attributes,Adj Close,Close,High,Low,Open,Volume
Symbols,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2015-12-01,24.266085,26.315001,29.965000,26.205000,29.687500,3.687661e+09
2016-01-01,22.440248,24.334999,26.462500,23.097500,25.652500,5.087392e+09
2016-02-01,22.290400,24.172501,24.722500,23.147499,24.117500,3.243450e+09
2016-03-01,25.262320,27.247499,27.605000,24.355000,24.412500,2.984198e+09
2016-04-01,21.727587,23.434999,28.097500,23.127501,27.195000,3.489535e+09
...,...,...,...,...,...,...
2020-09-01,115.069885,115.809998,137.979996,103.099998,132.759995,3.885245e+09
2020-10-01,108.164307,108.860001,125.389999,107.720001,117.639999,2.894666e+09
2020-11-01,118.289192,119.050003,121.989998,107.320000,109.110001,2.123077e+09
2020-12-01,132.069473,132.690002,138.789993,120.010002,121.010002,2.322190e+09
2021-01-01,131.342880,131.960007,145.089996,126.379997,133.520004,2.240262e+09

In [36]:
sp500_index = pdr.get_data_yahoo(["^GSPC"], start, end, interval="m")
sp500_index

Attributes,Adj Close,Close,High,Low,Open,Volume
Symbols,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC
Date,,,,,,
2015-12-01,2043.939941,2043.939941,2104.270020,1993.260010,2082.929932,83649260000
2016-01-01,1940.239990,1940.239990,2038.199951,1812.290039,2038.199951,92409770000
2016-02-01,1932.229980,1932.229980,1962.959961,1810.099976,1936.939941,93049560000
2016-03-01,2059.739990,2059.739990,2072.209961,1937.089966,1937.089966,92639420000
2016-04-01,2065.300049,2065.300049,2111.050049,2033.800049,2056.620117,81124990000
...,...,...,...,...,...,...
2020-09-01,3363.000000,3363.000000,3588.110107,3209.449951,3507.439941,92084120000
2020-10-01,3269.959961,3269.959961,3549.850098,3233.939941,3385.870117,89737600000
2020-11-01,3621.629883,3621.629883,3645.989990,3279.739990,3296.199951,100977880000
2020-12-01,3756.070068,3756.070068,3760.199951,3633.399902,3645.870117,96056410000
2021-01-01,3714.239990,3714.239990,3870.899902,3662.709961,3764.610107,105548790000

In [43]:
apple_returns = apple_stocks["Adj Close"] / apple_stocks["Adj Close"].shift()
sp500_returns = sp500_index["Adj Close"] / sp500_index["Adj Close"].shift()

In [44]:
apple_returns

Symbols         AAPL
Date
2015-12-01       NaN
2016-01-01  0.924758
2016-02-01  0.993322
2016-03-01  1.133327
2016-04-01  0.860079
...              ...
2020-09-01  0.899092
2020-10-01  0.939988
2020-11-01  1.093607
2020-12-01  1.116497
2021-01-01  0.994498

[62 rows x 1 columns]

In [45]:
sp500_returns

Symbols        ^GSPC
Date
2015-12-01       NaN
2016-01-01  0.949265
2016-02-01  0.995872
2016-03-01  1.065991
2016-04-01  1.002699
...              ...
2020-09-01  0.960772
2020-10-01  0.972334
2020-11-01  1.107546
2020-12-01  1.037121
2021-01-01  0.988863

[62 rows x 1 columns]

In [ ]:
# CAPM =