In [9]:
import datetime as dt
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import plotly.graph_objects as go
import plotly.express as px

In [17]:
tickers = ["EEM", "TLT", "SPY"]
stocks = pdr.get_data_yahoo(tickers, start=dt.date(1970, 1, 1))
stocks.head()

Attributes Adj Close                Close               High                \
Symbols          EEM TLT        SPY   EEM TLT       SPY  EEM TLT       SPY
Date
1993-01-29       NaN NaN  25.717379   NaN NaN  43.93750  NaN NaN  43.96875
1993-02-01       NaN NaN  25.900288   NaN NaN  44.25000  NaN NaN  44.25000
1993-02-02       NaN NaN  25.955160   NaN NaN  44.34375  NaN NaN  44.37500
1993-02-03       NaN NaN  26.229542   NaN NaN  44.81250  NaN NaN  44.84375
1993-02-04       NaN NaN  26.339279   NaN NaN  45.00000  NaN NaN  45.09375

Attributes Low               Open               Volume
Symbols    EEM TLT       SPY  EEM TLT       SPY    EEM TLT        SPY
Date
1993-01-29 NaN NaN  43.75000  NaN NaN  43.96875    NaN NaN  1003200.0
1993-02-01 NaN NaN  43.96875  NaN NaN  43.96875    NaN NaN   480500.0
1993-02-02 NaN NaN  44.12500  NaN NaN  44.21875    NaN NaN   201300.0
1993-02-03 NaN NaN  44.37500  NaN NaN  44.40625    NaN NaN   529400.0
1993-02-04 NaN NaN  44.46875  NaN NaN  44.96875    NaN NaN   531500.0

In [5]:
returns = (stocks["Adj Close"].pct_change()).resample("M").agg(lambda x: x.prod())
returns

Symbols              EEM           TLT           SPY
Date
1993-01-31  1.000000e+00  1.000000e+00  1.000000e+00
1993-02-28  1.000000e+00  1.000000e+00 -0.000000e+00
1993-03-31  1.000000e+00  1.000000e+00 -0.000000e+00
1993-04-30  1.000000e+00  1.000000e+00  0.000000e+00
1993-05-31  1.000000e+00  1.000000e+00 -1.150126e-49
...                  ...           ...           ...
2021-06-30 -2.277438e-51  1.462333e-53 -2.022865e-59
2021-07-31 -1.478929e-47 -4.198599e-50 -3.945181e-50
2021-08-31 -2.640981e-51 -5.033625e-56 -2.527296e-55
2021-09-30  1.689175e-47  4.472422e-49 -3.789928e-52
2021-10-31  5.897485e-50 -1.061589e-47  8.711525e-50

[346 rows x 3 columns]

In [ ]:
weight =