In [2]:
# Q1
x = [ [5,2,3], [10,8,9] ] 
students = [
     {'first_name':  'Michael', 'last_name' : 'Jordan'},
     {'first_name' : 'John', 'last_name' : 'Rosales'}
]
sports_directory = {
    'basketball' : ['Kobe', 'Jordan', 'James', 'Curry'],
    'soccer' : ['Messi', 'Ronaldo', 'Rooney']
}
z = [ {'x': 10, 'y': 20} ]

In [6]:
# 1.  Change the value 10 in x to 15. Once you're done, x should now be [ [5,2,3], [15,8,9] ].
x[1][0] = 15
x

[[5, 2, 3], [15, 8, 9]]

In [8]:
# 2. Change the last_name of the first student from 'Jordan' to 'Bryant'
students[0]["last_name"] = "Bryant"
students[0]

{'first_name': 'Michael', 'last_name': 'Bryant'}

In [9]:
# 3. In the sports_directory, change 'Messi' to 'Andres'
sports_directory["soccer"][0] = "Andres"
sports_directory["soccer"]

['Andres', 'Ronaldo', 'Rooney']

In [10]:
# 4. Change the value 20 in z to 30
z[0]["y"] = 30
z

[{'x': 10, 'y': 30}]

In [12]:
# Q2
students = [
         {'first_name':  'Michael', 'last_name' : 'Jordan'},
         {'first_name' : 'John', 'last_name' : 'Rosales'},
         {'first_name' : 'Mark', 'last_name' : 'Guillen'},
         {'first_name' : 'KB', 'last_name' : 'Tonel'}
    ]
# iterateDictionary(students) 
# should output: (it's okay if each key-value pair ends up on 2 separate lines;
# bonus to get them to appear exactly as below!)
# first_name - Michael, last_name - Jordan
# first_name - John, last_name - Rosales
# first_name - Mark, last_name - Guillen
# first_name - KB, last_name - Tonel

In [23]:
# 1. Create a function iterateDictionary(some_list)
# that, given a list of dictionaries, the function loops
# through each dictionary in the list and prints each key and the associated value

def iterateDictionary(x):
    for item in x:
        for k, v in item.items():
            print(k, "-",  v, end=", ")
        print()

In [24]:
iterateDictionary(students)

first_name - Michael, last_name - Jordan,
first_name - John, last_name - Rosales,
first_name - Mark, last_name - Guillen,
first_name - KB, last_name - Tonel,

In [25]:
# Q3
# Create a function iterateDictionary2(key_name, some_list)
# that, given a list of dictionaries and a key name,
#the function prints the value stored in that key for each dictionary.
#For example, iterateDictionary2('first_name', students) should output:
# Michael
# John
# Mark
# KB
def iterateDictionary2(key_name, x):
    for item in x:
        print(item[key_name])

In [26]:
iterateDictionary2('first_name', students)

Michael
John
Mark
KB

In [27]:
iterateDictionary2('last_name', students)

Jordan
Rosales
Guillen
Tonel

In [46]:
# Q4
# Create a function printInfo(some_dict) that given a dictionary
# whose values are all lists, prints the name of each key along with
#the size of its list, and then prints the associated values within each key's list.
dojo = {
   'locations': ['San Jose', 'Seattle', 'Dallas', 'Chicago', 'Tulsa', 'DC', 'Burbank'],
   'instructors': ['Michael', 'Amy', 'Eduardo', 'Josh', 'Graham', 'Patrick', 'Minh', 'Devon']
}
# printInfo(dojo)
# output:
# 7 LOCATIONS
# San Jose
# Seattle
# Dallas
# Chicago
# Tulsa
# DC
# Burbank
    
# 8 INSTRUCTORS
# Michael
# Amy
# Eduardo
# Josh
# Graham
# Patrick
# Minh

In [53]:
def printInfo(x):
    for k, v in x.items():
        print(f"{len(v)} {k.upper()}")
        for i in v:
            print(i)
        print()

In [54]:
printInfo(dojo)

7 LOCATIONS
San Jose
Seattle
Dallas
Chicago
Tulsa
DC
Burbank

8 INSTRUCTORS
Michael
Amy
Eduardo
Josh
Graham
Patrick
Minh
Devon